@import 'variables';

#campsiteDetail{
	padding: 1em;
	background-color:$boxNormal;
	border: $border;
	border-top:none;
	.closeIcon{
		float: right;
		font-size: 1em;
	}

	#campsiteSelectButton{
		background-color:#1F8D73;
		margin-top: 1em;
		margin-bottom: 1em;
		float:right;
	}
}