@import 'variables';

#selectList{
	border: $border;
    min-height: 30em;
    background-color: #A9A177;
    .listCampType{
        border-bottom: $border;
        background-color: #fff;
    }
}
#calendar{
	background-color: $boxNormal;
	border: $border;
	height: 25em;
    #calendarButton{
    background-color:#6C3109;
    margin-top: 1em;
    margin-bottom: 1em;
    float:right;
}
}
