@import 'variables';

#selectList{
	background-color: $boxNormal;
	border: $border;
	min-height: 30em;
	.listItem{
		list-style-type: none;
		padding-left: 0.25em;
		border-bottom: $border;
	}
}
#calendar{
	background-color: $boxNormal;
	border: $border;
	height: 25em;
}
