@import 'variables';

#selectList{
	background-color: $boxNormal;
	border: $border;
	min-height: 30em;
	.listItem{
		list-style-type: none;
		padding-left: 0.25em;
		border-bottom: $border;
	}
}
#tango{
	background-color: #A9A177;
	padding: 1em;
	border: $border;
	#tangoCash{
		background-color: #FFF;
		.confirmationButton{
			background-color::#6C3109;
			float:right;
			margin-left: 1em;
			margin-bottom: 1.5em;
		}
	}
}
#mapBro{
	float: right;
	background-color: $boxNormal;
	border: $border;
	height: 25em;
}