@import 'variables';

nav .nav-wrapper{
	padding:1em;
	background-color: $baseTone;
	color: white;
	overflow:hidden;
	display:block;
	height: auto;
	.image-div{
		float: left;
		height: 4.5em;
		a span{
			color: white;
			font-family: GillSans, Trebuchet, sans-serif;
			text-decoration: none !important;
			font-size: 2.1em;
			margin-left: 1em;
			vertical-align: middle;

		}
		img{
			height:100%;
			vertical-align: middle;
		}
	}
	#dropdown1{
		margin-top:1em;
	}
	.heroButton{
		float: right;
		margin-left: 2em;
		background-color:$topColor;
	}
}