@import 'variables';

.nav-wrapper{

	padding:1em;
	background-color: $baseTone;
	color: white;
	height: 4em;
	box-sizing: border-box;
	.image-div{
		// height: 60px;
		float: left;
		height: 3em;

		a span{
			color: white;
			text-decoration: none !important;
			font-size: 2em;
			margin-left: 2em;
		}
		img{
			height:100%;
		}
	}
	.user-dropdown{
		float: right;
		img{
			border-radius: 50%;
		}
	}
}