@import 'variables';

#parkDetail{
	padding: 1em;
	background-color:#FFF;
	border: $border;
	border-top:none;
	overflow: hidden;
	.closeIcon{
		float: right;
		font-size: 1em;
	}
	.btn{
		float:right;
		background-color: #1F8D73;
	}
}