@import url(materialize-css/dist/css/materialize.min.css);
.nav-wrapper {
  height: 65px;
  padding: 5px 1em;
  background-color: #333333;
  color: white; }
  .nav-wrapper .image-div {
    height: 60px;
    float: left; }
    .nav-wrapper .image-div a span {
      color: white;
      text-decoration: none !important;
      font-size: 2em; }
    .nav-wrapper .image-div img {
      height: 100%; }
  .nav-wrapper .user-dropdown {
    float: right;
    margin-top: 0.5em; }
    .nav-wrapper .user-dropdown img {
      border-radius: 50%; }

#selectList {
  background-color: #ECE9E6;
  border: 0.25em solid #78695b;
  min-height: 30em; }
  #selectList .listItem {
    list-style-type: none;
    padding-left: 0.25em;
    border-bottom: 0.25em solid #78695b; }

#map, #filter {
  float: right;
  background-color: #ECE9E6;
  border: 0.25em solid #78695b;
  height: 25em; }

#selectList {
  background-color: #ECE9E6;
  border: 0.25em solid #78695b;
  min-height: 30em; }
  #selectList .listItem {
    list-style-type: none;
    padding-left: 0.25em;
    border-bottom: 0.25em solid #78695b; }

#calendar {
  background-color: #ECE9E6;
  border: 0.25em solid #78695b;
  height: 25em; }

.Calendar {
  border-collapse: collapse;
  padding: 0;
  margin: 4rem auto 0; }

.Calendar th,
.Calendar td {
  padding: 1rem;
  text-align: center; }

.Day:hover {
  background: #eee;
  color: #000; }

.Day.today {
  background: #666;
  color: #fff; }

.Day.selected {
  background: #2980b9;
  color: #fff; }

.Day.other-month {
  background: #fafafa;
  color: #aaa; }

#statusBar {
  height: 3em;
  background-color: green;
  border: 0.25em solid #78695b;
  margin-bottom: 5em; }
  #statusBar .statusTag {
    float: left;
    width: 25%;
    color: white; }

#campsiteDetail {
  margin-left: 8%;
  padding: 1em;
  background-color: #ECE9E6;
  border: 0.25em solid #78695b;
  border-top: none; }
  #campsiteDetail .closeIcon {
    float: right;
    font-size: 1em; }

#homepage {
  margin-left: 8%;
  padding: 1em;
  background-color: #ECE9E6;
  border: 0.25em solid #78695b;
  border-top: none; }
  #homepage .closeIcon {
    float: right;
    font-size: 1em; }

#parkDetail {
  margin-left: 8%;
  padding: 1em;
  background-color: #ECE9E6;
  border: 0.25em solid #78695b;
  border-top: none; }
  #parkDetail .closeIcon {
    float: right;
    font-size: 1em; }

body {
  background-color: white; }
  body #main {
    padding-top: 5em; }
